@CHARSET "UTF-8";
 
label,
.fieldset-legend {
	/* background: red; */
	font-size: 20px;
	
	/* border-top:1px dotted gray; */
	padding:5px !important;
}
[for="edit-field-images-und-0"],
.vertical-tabs label {
	background :none;
	font-size: inherit;
	border-top:0px dotted gray;
	padding:0px;
}
#edit-field-background {
float: right;
border: 1px solid #ccc;
margin-bottom:20px;
padding: 0 10px;
}
#edit-field-images-und {
width: 100%;
}
#edit-field-images{
clear: both;
}
