#overlay_site{
      background: url("/sites/all/modules/overlay_site/open.jpg") no-repeat scroll 0 0 / contain transparent;
    display: none;
    height: 1680px;
    opacity: 0.765;
    pointer-events: none;
    position: absolute;
    right: 0px;
  top: 0;
    width: 960px;
    z-index: 10;
    background-size:contain;
    border:1px solid red;
    border-top:none;
    border-bottom:none;
    background-repeat: no-repeat !important;
}
.overflow{
    overflow: hidden;
}
#overlay_controls_wrap{position:fixed;bottom:0px;left:0px;z-index:99999;}
.overlay_controls_box {
   cursor: pointer;
    display: table-cell;
    font-size: 2em;
    height: 20px;
    margin-bottom: 0.5em;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
#overlay_control{background:none repeat scroll 0 0 red;}
#overlay_control_light{background:none repeat scroll 0 0 green;}
#overlay_control_dark{background:none repeat scroll 0 0 black;color:#fff}

#overlay_control_opacity{
margin-bottom: 0px;
}
