a.contextual-links-trigger {
background: transparent url(../images/gear-select.png) no-repeat 2px 0 ;
}
.contextual-links-region-active {
    outline: 1px dashed #f00;
}
.container-12,.grid-12{
/*min-width:1070px;*/
}/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  background: url("/sites/all/themes/subomega/images/bgpictureoriginal.jpg") no-repeat fixed 0 0 ;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  min-width: 960px;
  height: 100%;
}
body.front{
/* background-position: 0 -184px;*/
}
#zone-menu-2-wrapper, #zone-menu-wrapper, #zone-branding-wrapper, #zone-footer-wrapper {
  background: none repeat scroll 0 0 #000000;
color:white;
}
/*body,
#page,*/
html{
height:100%;
}

#page > section {
/*  
background-color: #000000;
  background-image: url("/sites/all/themes/subomega/images/bg.jpg");
  background-position: center -40px;
  background-repeat: no-repeat;
  background-size: 960px auto;
*/
  min-height: /*698px*/560px/*610px*/;
   padding-bottom: 20px;
background-size:cover/*contain*/;
}
.not-front #page > section {
/*	background-image: url("/sites/all/themes/subomega/images/bg-not-front.jpg");
	min-height: 894px;
	background-position: center 0px;
*/
}
header .zone,
footer .zone {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
}
header {
  min-height: 39px;
}
#zone-footer .region > .region-inner {
    padding-left: 7px;
}
footer #region-footer-first {
  padding-top: 5px;
}
.front #page-title{
display: none;
}
#region-content #page-title {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
 margin-left: 27px;
}
.white-50-percent-background,
#block-system-main {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px  !important;
 width: 90%;
 word-break: break-word;
}
.node-type-participants .field-name-body .field-item {
   max-height: 669px;
overflow-x: hidden;
overflow-y: scroll;
} 
 scrollbar  
.jspDrag{
	background: none repeat scroll 0 0 #808080 !important;
}
.not-front #region-content > .region-inner > *{
margin-left: 17px;
}
.not-front #breadcrumb {
    margin:20px 10px 13px;
/*    margin: 20px 10px ;
    width: 906px !important;	*/

}
#breadcrumb .breadcrumb {
padding-bottom:0px;
}
#breadcrumb .breadcrumb .breadcrumb_sep,
#breadcrumb .breadcrumb a  {
   font-size: 12px;
   color: black;
}
#breadcrumb .breadcrumb .last a,
#breadcrumb .breadcrumb{ 
color: #FFFFFF;
font-size: 12px;
letter-spacing: 0.5px;
}
#breadcrumb .breadcrumb .last a{
 text-shadow: 1px 1px 2px #000000;
}
a {
    color: inherit;
    text-decoration: none;
}	
#block-system-main a {
    text-decoration: underline;
}

/*
*
* Main menu
*/
#zone-menu--2,
#zone-menu{
width: 1000px;
}
#region-menu--2,
#region-menu {
  display: block;
  float: none;
  margin: 0 auto;
  width: 955px; 
}
.front .menu [href^="java"] {
  color: #CCCBCA;
}
.not-front .menu [href^="java"] {
  color: #a4a1a3;
}

#block-system-main-menu {
background: none repeat scroll 0 0 rgba(0,0,0, 0.8);
margin-auto: 0 auto;
    line-height: 35px;
}
.front #block-system-main-menu,
.front #zone-menu {
background:none;
}
.front #zone-content-wrapper {
    min-height: 310px;
}
/*.front #zone-menu #block-system-main-menu{*/
.front #zone-menu-wrapper,
.front #zone-menu-2-wrapper{
/*  
position: absolute;
top: 508px;
*/
    width: 100%;
/*background: none repeat scroll 0 0 rgba(0,0,0, 0.1);*/
background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 */


}
.front #zone-menu-wrapper #block-system-main-menu{
/*.front #zone-menu-wrapper{*/
/*width: 100%;
top: 467px;
position: absolute;*/
}
/*
.not-front #zone-menu-wrapper{
width: 100%;
top: 110px;
position: absolute;
}
*/
.admin-menu.not-front:not(.page-participants) #zone-menu-wrapper{
top:140px;
}

.menu li:not(.last) a:after {
  content: ":";
padding-left: 2px;
}
.menu li{
padding: 0px;

}
ul.menu li {
  margin: 0px;
}
#block-system-main-menu ul.menu {
  padding: 6px 0px;
    word-spacing: -1px;
 
}
  
/*
.menu li:not(.last) a:after 

*/

#block-system-main-menu .menu li a {
    font-size: 18px;
  
  
}
.menu li a:hover,
.menu li a:active, 
.menu li a.active{
  color: #06dbfb;
}

/*
* #block-block-1 // front
*/
.front #block-block-1 {
letter-spacing: 1.1px;
line-height: 22.6px;
text-align: justify !important;
margin:  0 auto;
width: 370px;
word-spacing: 0.0px;
}
.site-name a{
color: #000000;
font-family: "iskoola_potaregular";
font-size: 49px;
font-weight: normal;
letter-spacing: 5px;
line-height: 68px;
word-spacing: 0px;

}
.front .site-name a{
padding-left: 43px;
display: inline-block;
font-size: 36px;
line-height: 27px;
padding-left: 0;
text-align: justify;
word-spacing: 2px;
/*
display: inline;
font-size: 36px;
line-height: 50px;
padding-left: 0;
word-spacing: 3px;
*/
/*
border-bottom: 1px dotted #808080;
font-size: 36px;
line-height: 56px;
word-spacing: 3px;
padding-left:0px;*/
}
.site-name hr {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border-top: 2px dotted #808080 ;
display: inline-block;
margin-bottom: 12px;
margin-top: 0;
width: 100%;
/*
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-top: 1px dotted;
  margin-bottom: 0;
  margin-top: 1px;
*/
}
.front .site-name {
border-bottom: 2px dotted #808080;
border-top: 2px dotted #808080;
height: 91px;
overflow: hidden;
padding-top: 14px;
text-align: justify;
/*
border-bottom: 1px dotted #808080;
border-top: 1px dotted #808080;
height: 103px;
margin-top: 0;
overflow: hidden;
text-align: justify;
*/
/*    height: 123px;
    margin-top: 0;
    overflow: hidden;
    text-align: justify;
border-top: 1px dotted #808080;*/
}
/*.front #block-block-1 p:after, */
.front .site-name:after, 
.front .site-name a:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.not-front .site-name{
text-align:center;
}


.site-name{
margin-top:0px;
}

.site-name-slogan{
float: none;
margin: 3px auto ;
/*
padding-bottom: 40px;
*/
width:960px;
}
.front .site-name-slogan{
width: 370px;
padding-top: 37px;
padding-bottom: 16px;

}
.front #block-block-1 p{
     font-size: 14.5px;
/* font-weight: bold; */
letter-spacing: 0px;
line-height: 23.3px;
text-align: justify;
word-spacing: 0;
/*margin-bottom: 0px;*/
}
/*
 * 
*	footer blocks
**/
#region-footer-second *,
#block-block-4 *,
#block-system-main-menu--2 *{
  font-size: 11px !important;
  color:white;
}

.front #region-footer-first #block-block-6 {
  color: #FFFFFF;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: -50px;
}
#block-block-4, #block-block-3, #block-block-8 {
  float: right;
  font-size: 11px;
}
#block-block-4  {
  letter-spacing: 1px;
    font-weight: bold;
}
#block-system-main-menu--2,
#block-block-2,
#block-block-7{
float: left;
font-size: 11px;
}
#block-block-7, #block-block-8 {
padding-top: 4px;
width: 50%;

}
/*clear: right;*/

#block-block-8 {
  text-align: right;
}
#block-block-2 a:hover,
 #block-block-7 a:hover,
 #block-block-8 a:hover,
 #block-block-9 a:hover {
  color: #06dbfb;
}
a#facebook{
background: url("/sites/all/themes/subomega/images/facebook.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 19px;
text-indent: -9900px;
width: 18px;
}
#block-block-9 {
  float: left;
  width: 100%;
}
/*
*
*	Header -- Creadits
*/
#block-block-5 .block-inner > .content > div:last-of-type:last-child{
	display:none;
}
#block-block-5 a {
    margin: 0 40px;
}
a#isf{
background: url("/sites/all/themes/subomega/images/credit_1.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 36px;
text-indent: -9900px;
width: 196px;
}
.not-front #isf {
    float: left;
    margin-left: 0;
}
a#wgalil{
background: url("/sites/all/themes/subomega/images/credit_3.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 32px;
text-indent: -9900px;
width: 136px;
}
a#huji{
background: url("/sites/all/themes/subomega/images/credit_2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 33px;
text-indent: -9900px;
width: 177px;
}
.not-front #huji {
  float: right;
  margin-right: 0 !important;
}

/*jspVerticalBar*/

.jspVerticalBar {
 width: 8px !important;
}


/*
*	view-participants 
*/

.page-participants #page-title {
  margin-top: 20px;
}

.page-participants #block-system-main {
  margin: 0 auto !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    width: 78%;
}
.field-name-field-image-part img {
max-width: 140px;
max-height: 120px;
}
.view-participants.view-display-id-page .views-row {
  margin-right: 54px;
  width: 140px;
  min-height: 170px;
}
.view-participants .views-row-4 ,
.view-participants .views-row-8 ,
.view-participants .views-row-12 ,
.view-participants .views-row-16 ,
.view-participants .views-row-20 ,
.view-participants .views-row-24 {
  margin-right: 0px !important;

}
.views-field-field-image-part {
  margin-bottom: 5px;
}
.field-name-field-image-part img ,
.views-field-field-image-part img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.field-name-field-image-part img,
.views-field-field-image-part img {
  border: 1px solid black;
border-radius: 5px;
box-shadow: 0 0 5px 0 #000000;
height: 116px !important;
width: 100% !important;
}
.views-field-field-image-part img:hover {
filter: none;
-webkit-filter: none;
/*transition-duration:2s;*/
}
.page-participants .views-field-title {
  font-size: 16px;
  text-align: center;
}
.node-participants > header {
    float: right;
    width: 565px;
}

.title.node_type{
font-size: 18px;
margin-bottom: 10px !important;
}

/*about*/

#node-page-1 h2 {
  margin-top: 20px;
}
.not-front #block-system-main-menu ul.menu {
  padding: 10px 0px;
}

/*participants  -- node type page*/
.node-type-participants #breadcrumb {
  margin-top: 18px;
}
/*.node-type-participants */
#zone-content .grid-2 {
  width: 120px;
  padding-left: 16px;
}


/*  node type participants*/
.node-type-participants .field-name-body .field-item {
    max-height: /*447px*/260px;
}


.node-type-participants #page-title{
  margin-top: 13px;
margin-left: 22px !important;
 text-transform: capitalize;
}
.node-type-participants #block-system-main{
	margin-left: 0 !important;
padding-left: 22px;
 width: 96%;
}
.node-type-participants .field-name-field-image-part img {
    height: 130px !important;
    max-height: none !important;
    max-width: none !important;
    width: 155px !important;
}
.node-type-participants .field-name-field-image-part {
  margin-right: 25px;
  margin-bottom: 28px;
}
.field-name-field-short-text .field-item {
  margin-bottom: 6px;
}
.node-participants .field-name-field-email {
  text-decoration: underline;
  color: #fc6704  ;
      margin-top: 31px;
}
.node-participants .node-title {
  font-size: 16px;
  letter-spacing: 2px;

}
.node-participants .field-name-body,
.node-participants .field-name-field-image-part {
  float: left;
}
.node-participants .field-name-body{
border-top: 1px dotted;
padding-top: 25px;
}
[class*="block-views-menus"] .block-title {
  letter-spacing: -0.2px;
  border-color: #000000;
  border-image: none;
  border-style: dotted ;
  border-width: 1px ;
border-right:0px solid;
border-left:0px solid;
border-top: 0px;
  font-size: 16px;
font-weight: bold;
  line-height: 25px;
  margin-bottom: 0px;
  margin-top: 47px;
 margin-right: 4px;

}
#block-views-menus-block,
#block-views-menus-block-2 {
  margin-top: 30px;
}
/* aside menu - view */

.view-participants.view-display-id-block_1 .views-row ,
.view-menus .views-row, #block-views-menus-block-2 h3 {
  border-bottom: 1px dotted;
  margin-right: 10px;
  padding: 5px 0;
   width: 110px;
}

.view-participants.view-display-id-block_1/*,.view-menus*/{
margin-top: 40px;
  
}
.view-participants.view-display-id-block_1 > div.view-content,
.view-menus > div.view-content{
border-right: 1px dotted;
}
.view-participants.view-display-id-block_1 .active,
.view-participants.view-display-id-block_1 a:hover ,
.view-menus .active,
.view-menus a:hover {
 background-color: #000000;
    color: #FFFFFF;
   
}
.view-menus a,
.view-participants.view-display-id-block_1 a{
 display:block;
 line-height: 16px;
  padding: 2px 4px;

}
.view-menus .views-row ,
.view-participants.view-display-id-block_1 .views-row {
  display: inline-block;
 /*  width: 100%; */
}
#block-views-menus-block-2 h3 {
    font-size: 16px;
/*font-weight: normal;*/
margin: 0;
 padding-left: 4px;
}
/*
#block-views-menus-block .views-row-first,
#block-views-menus-block-2 h3:FIRST-CHILD {
	border-top: 1px dotted black;
}
*/

/*
 * Sites of the project -- ## START
 */
  
.node-type-sites .field-name-field-video-text ,
.node-type-sites .field-name-field-video {
    margin: 20px auto 0;
    width: 85%;
}
.node-type-sites .field-name-field-video iframe{
    width: 100%;
	height:400px;
}
.node-type-sites #block-system-main{

  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
}
.node-type-sites .field-name-body ,
.node-type-sites .field-name-field-field-notes {
	 padding: 0 8px;
}
.location_and_dates_wrap{
	margin-left:10px;
}

.node-type-sites #region-content #page-title {
	margin-bottom: 15px !important;
}
.node-type-sites .view-menus > div.view-content {
	border-right: 0px dotted;
}
.node-type-sites #block-views-menus-block-1 {
	border-right: 1px dotted;
	
}

.node-type-sites #region-content > .region-inner > * {
    margin-left: 0;
 padding-left: 5px;
    padding-right: 5px;
padding-top: 5px;
}
.node-type-sites #block-system-main{
	width:auto;
margin-left:0px !important;
}
.node-type-sites #region-content{
margin-left: 0px;
margin-right: 0px;
width: 790px;
}

.node-type-sites #zone-content .grid-2 {
  padding-left: 0;
  width: 153px;
 margin-right: 5px;
}
.node-type-sites .view-menus .views-row {
  width: 150px/*140px*/;
}
.content > .field-name-field-location, 
.content > .field-name-field-speical-dates,
.location_and_dates_wrap{
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
border-radius: 5px;
padding: 5px 10px;
width: 90%;
}
.field-name-field-location div {
  line-height: 18px;
}
.field-name-field-speical-dates {
  margin-top: 5px;
}
.field-name-field-video-text,
.field-name-field-video,
.field-name-field-field-notes{	
	display:none;
}

.node-type-sites #breadcrumb .last a {
	color: black !important;
  text-shadow: none;
}
.node-type-sites #page-title:after{
content: " - About";
}
.node-type-sites.video #page-title:after{
content: " - Video";
}
.node-type-sites.field_notes #page-title:after{
content: " - Fieldnotes";
}
.node-type-sites #breadcrumb .last:after {
  content: " >> about ";
	color: white;
  text-shadow: 1px 1px 2px #000000;
}
.node-type-sites.video #breadcrumb .last:after {
  content: " >> video ";
}
.node-type-sites.field_notes #breadcrumb .last:after {
  content: " >> fieldnotes ";
}
.node-type-sites.video article .field-name-body,
.node-type-sites.video article .field-name-field-field-notes,
.node-type-sites.video article .field-name-field-images,
.node-type-sites.video article .field-name-field-location,
.node-type-sites.video article .field-name-field-speical-dates,
.node-type-sites.video article .location_and_dates_wrap,
.node-type-sites.field_notes article .field-name-body,
.node-type-sites.field_notes article .field-name-field-speical-dates,
.node-type-sites.field_notes article .field-name-field-location,
.node-type-sites.field_notes article  .location_and_dates_wrap{
	display: none;
	padding:0px;
}
.field-name-body,
.node-type-sites.field_notes article .field-name-field-field-notes,
.node-type-sites.video article .field-name-field-video-text,
.node-type-sites.video article .field-name-field-video{
	display: block;
}
.node-type-sites .field-name-field-field-notes ,
.node-type-sites .field-name-body {
    margin-top: 13px;
}

.node-type-sites.field_notes #block-system-main{
	background: url("/sites/all/themes/subomega/images/bg-sites-of-projects-field-note.jpg") repeat-y scroll right 0 rgba(0, 0, 0, 0);
	background-size: cover;
}
.node-type-sites .buttons {
  margin-left: 15px;
 margin-top: 10px;
}
.node-type-sites .buttons div{
background-position: center top;
background-repeat: no-repeat;
display: inline-block;
font-size: 13px;
font-weight: bold;
height: 15px;
letter-spacing: -1px;
margin-right: 10px;
padding-top: 56px;
text-align: center;
width: 61px;}
.node-type-sites .buttons #video{
	background-image: url("/sites/all/themes/subomega/images/video_but.png");
}
.node-type-sites.video .buttons #video,
.node-type-sites .buttons #video:hover{
	background-image: url('/sites/all/themes/subomega/images/video_but_hover.png');
}
.node-type-sites .buttons #field_notes{
	background-image: url('/sites/all/themes/subomega/images/fildnotesbut.png');
}
.node-type-sites.field_notes .buttons #field_notes,
.node-type-sites .buttons #field_notes:hover{
	background-image: url('/sites/all/themes/subomega/images/fildnotesbut_hover.png');
}
 /* 
 * field-name-field-gallery
 * */
.field-name-field-images{
position:relative;
}
.field-name-field-images .field-items{
  border-radius: 5px;
  border:1px solid black;
overflow:hidden;

}
.field-name-field-images .field-item { 
    width: 100%;
}
/*
.field-name-field-images img {
    height: auto;
    width: 100%;
}
*/
div#controls {
  display: none;
position: absolute;
top: 50%;
width: 100%;
z-index: 900;
}
#slides:hover #controls ,
.field-name-field-images:hover #controls {
  display: block !important;
}
div#controls #last ,
div#controls #prev {
	  float: right;
 }
div#controls #next {
 background: url("/sites/all/themes/subomega/images/arrow_left.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
cursor: pointer;
float: right;
height: 52px;
text-indent: -9999px;
width: 31px;
}
div#controls #prev {
  background: url("/sites/all/themes/subomega/images/arrow_right.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);

  cursor: pointer;
float: right;
height: 52px;
text-indent: -9999px;
width: 31px;
}
div#controls #first ,
div#controls #next {
  float: left;
}
.field-name-field-images img,
#slides img ,
#slides_wrap img {
  height: 329px !important;
  width: 785px !important;
}

/*main sites page slideshow*/

#slides{
  border-radius: 5px;
  border:1px solid black;
 position: relative;
   overflow: hidden;
}
/*#slides img {
    height: auto;
    width: 100%;
}*/

.page-node-36 #block-views-sites-of-project-block{
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	border-radius: 5px 5px 0 0;
}
.page-node-36 #block-system-main{
	border-radius: 0 0 5px 5px ;
}
/*links*/
#node-page-42 a {
  color: black;
}
#node-page-42 a:hover {
  color: #fd620e;
  background-image: url("/sites/all/themes/subomega/images/bullet_on.png");
}




}
/*heb*/
 .page-node-69  .jspVerticalBar,
 .page-node-51  .jspVerticalBar{
 right:auto;
 left:0px;
 }
 .page-node-69 #section-content  *  ,
 .page-node-51 #section-content  *  {
  direction: rtl !important;
right: auto;
left:0px;
}

/*
* node-type-page 
***/
.node-type-page #page-title {
  margin-bottom: 30px !important;
  margin-top: 10px;
}
