.container-12,.grid-12{
/*min-width:1070px;*/
}/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  background: url("/sites/all/themes/subomega/images/bgpictureoriginal.jpg") no-repeat fixed 0 0 ;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  min-width: 960px;
  height: 100%;
}
body.front{
/* background-position: 0 -184px;*/
}
#zone-menu-wrapper, #zone-branding-wrapper, #zone-footer-wrapper {
  background: none repeat scroll 0 0 #000000;
}
/*body,
#page,*/
html{
height:100%;
}

#page > section {
/*  background-color: #000000;
  background-image: url("/sites/all/themes/subomega/images/bg.jpg");
  background-position: center -40px;
  background-repeat: no-repeat;
  background-size: 960px auto;
*/
  min-height: 698px;
   padding-bottom: 20px;
}
.not-front #page > section {
/*	background-image: url("/sites/all/themes/subomega/images/bg-not-front.jpg");
	min-height: 894px;
	background-position: center 0px;
*/
}
header .zone,
footer .zone {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
}
header {
  min-height: 39px;
}
#zone-footer .region > .region-inner {
    padding-left: 7px;
}
footer #region-footer-first {
  padding-top: 5px;
}
.front #page-title{
display: none;
}


#block-system-main {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px ;
 width: 90%;
 word-break: break-word;
}
.field-name-body .field-item {
   max-height: 669px;
overflow-x: hidden;
overflow-y: scroll;
}
/* scrollbar  */
.jspDrag{
	background: none repeat scroll 0 0 #808080 !important;
}
.not-front #region-content > .region-inner > *{
margin-left: 17px;
}
#breadcrumb {
margin: 3px 27px auto;
width: 906px !important;
}
#breadcrumb .breadcrumb {
padding-bottom:0px;
}
#breadcrumb .breadcrumb .breadcrumb_sep,
#breadcrumb .breadcrumb a  {
   font-size: 12px;
   color: black;
}
#breadcrumb .breadcrumb{ 
color: #FFFFFF;
font-size: 12px;
letter-spacing: 0.5px;
}

	
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
/*
*
* Main menu
*/
#block-system-main-menu {
background: none repeat scroll 0 0 rgba(0,0,0, 0.8);
margin-auto: 0 auto;
    line-height: 35px;
}
.front #block-system-main-menu,
.front #zone-menu {
background:none;
}
/*.front #zone-menu #block-system-main-menu{*/
.front #zone-menu-wrapper{
  position: absolute;
    top: 508px;
    width: 100%;
/*background: none repeat scroll 0 0 rgba(0,0,0, 0.1);*/
background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */

background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 */


}
.front #zone-menu-wrapper #block-system-main-menu{
/*.front #zone-menu-wrapper{*/
/*width: 100%;
top: 467px;
position: absolute;*/
}
#region-menu {
  width: 960px;
  margin: 0px;
}
.not-front #zone-menu-wrapper{
width: 100%;
top: 110px;
position: absolute;
}
.admin-menu.not-front:not(.page-participants) #zone-menu-wrapper{
top:140px;
}

.menu li a:after {
  content: ":";
padding-left: 2px;
}
.menu li{
padding: 0px;

}
ul.menu li {
  margin: 0px;
}
#block-system-main-menu ul.menu {
  padding: 6px 6px;
 
}
  
/*
.menu li:not(.last) a:after 

*/

#block-system-main-menu .menu li a {
    font-size: 18px;
  
  
}
.menu li a:hover,
.menu li a:active, 
.menu li a.active{
  color: #06dbfb;
}

/*
* #block-block-1 // front
*/
.front #block-block-1 {
letter-spacing: 1.1px;
line-height: 22.6px;
text-align: justify !important;
margin:  0 auto;
width: 370px;
word-spacing: 0.0px;
}
.site-name a{
color: #000000;
font-family: "iskoola_potaregular";
font-size: 49px;
font-weight: normal;
letter-spacing: 6px;
line-height: 68px;
word-spacing: 0px;
padding-left: 43px;

}
.front .site-name a{
display: inline-block;
font-size: 36px;
line-height: 27px;
padding-left: 0;
text-align: justify;
word-spacing: 3px;
/*
display: inline;
font-size: 36px;
line-height: 50px;
padding-left: 0;
word-spacing: 3px;
*/
/*
border-bottom: 1px dotted #808080;
font-size: 36px;
line-height: 56px;
word-spacing: 3px;
padding-left:0px;*/
}
.site-name hr {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
border-top: 2px dotted ;
display: inline-block;
margin-bottom: 12px;
margin-top: 0;
width: 100%;
/*
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-top: 1px dotted;
  margin-bottom: 0;
  margin-top: 1px;
*/
}
.front .site-name {
border-bottom: 2px dotted #808080;
border-top: 2px dotted #808080;
height: 91px;
overflow: hidden;
padding-top: 14px;
text-align: justify;
/*
border-bottom: 1px dotted #808080;
border-top: 1px dotted #808080;
height: 103px;
margin-top: 0;
overflow: hidden;
text-align: justify;
*/
/*    height: 123px;
    margin-top: 0;
    overflow: hidden;
    text-align: justify;
border-top: 1px dotted #808080;*/
}
.front #block-block-1 p:after, .front .site-name:after, .front .site-name a:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.site-name{
margin-top:0px;
}

.site-name-slogan{
float: none;
margin: 0 auto ;
padding-bottom: 40px;
}
.front .site-name-slogan{
width: 370px;
padding-top: 37px;
padding-bottom: 16px;

}
.front #block-block-1 p{
     font-size: 14.5px;
/* font-weight: bold; */
letter-spacing: 0px;
line-height: 23.3px;
text-align: justify;
word-spacing: 0;
margin-bottom: 0px;
}
/*
 * 
*	footer blocks
**/

footer * {
  font-size: 11px !important;
}

#block-block-6 {
  color: #FFFFFF;
font-size: 14px;
left: 17px;
position: absolute;
/*top: 675px;*/
top:200px;
}
#block-block-4, #block-block-3, #block-block-8 {
  float: right;
  font-size: 11px;
}
#block-block-4  {
  letter-spacing: 1px;
    font-weight: bold;
}
#block-system-main-menu--2,
#block-block-2,
#block-block-7{
float: left;
font-size: 11px;
}
#block-block-7, #block-block-8 {
padding-top: 4px;
width: 50%;
clear: right;
}
#block-block-8 {
  text-align: right;
}
#block-block-2 a:hover,
 #block-block-7 a:hover,
 #block-block-8 a:hover {
  color: #06dbfb;
}
a#facebook{
background: url("/sites/all/themes/subomega/images/facebook.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 19px;
text-indent: -9900px;
width: 18px;
}
/*
*
*	Header -- Creadits
*/
#block-block-5 .block-inner > .content > div:last-of-type:last-child{
	display:none;
}
#block-block-5 a {
    margin: 0 40px;
}
a#isf{
background: url("/sites/all/themes/subomega/images/credit_1.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 36px;
text-indent: -9900px;
width: 196px;
}
.not-front #isf {
    float: left;
    margin-left: 0;
}
a#wgalil{
background: url("/sites/all/themes/subomega/images/credit_3.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 32px;
text-indent: -9900px;
width: 136px;
}
a#huji{
background: url("/sites/all/themes/subomega/images/credit_2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: inline-block;
height: 33px;
text-indent: -9900px;
width: 177px;
}
.not-front #huji {
  float: right;
  margin-right: 0 !important;
}

/*jspVerticalBar*/

.jspVerticalBar {
 width: 8px !important;
}


/*
*	view-participants 
*/

.page-participants #page-title {
  margin-top: 20px;
}

.page-participants #block-system-main {
  margin: 0 auto !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    width: 78%;
}
.field-name-field-image-part img {
max-width: 140px;
max-height: 120px;
}
.view-participants.view-display-id-page .views-row {
  margin-right: 54px;
  width: 140px;
  min-height: 170px;
}
.view-participants .views-row-4 ,
.view-participants .views-row-8 ,
.view-participants .views-row-12 ,
.view-participants .views-row-16 ,
.view-participants .views-row-20 ,
.view-participants .views-row-24 {
  margin-right: 0px !important;

}
.views-field-field-image-part {
  margin-bottom: 5px;
}
.field-name-field-image-part img ,
.views-field-field-image-part img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.field-name-field-image-part img,
.views-field-field-image-part img {
  border: 1px solid black;
border-radius: 5px;
box-shadow: 0 0 5px 0 #000000;
height: 116px !important;
width: 100% !important;
}
.views-field-field-image-part img:hover {
filter: none;
-webkit-filter: none;
/*transition-duration:2s;*/
}
.page-participants .views-field-title {
  font-size: 16px;
  text-align: center;
}
.node-participants > header {
  left: 204px;
  position: absolute;
}

.title.node_type{
font-size: 18px;
margin-bottom: 10px !important;
margin-top: 18px;
}

/*about*/

#node-page-1 h2 {
  margin-top: 20px;
}
.not-front #block-system-main-menu ul.menu {
  padding: 10px 6px;
}

/*participants  -- node type page*/
.node-type-participants #breadcrumb {
  margin-top: 18px;
}
.node-type-participants #zone-content .grid-2 {
  width: 120px;
  padding-left: 16px;
}


/*  node type participants*/
.node-type-participants .field-name-body .field-item {
    max-height: 447px;
}


.node-type-participants #page-title{
  margin-top: 13px;
margin-left: 22px !important;
 text-transform: capitalize;
}
.node-type-participants #block-system-main{
	margin-left: 0 !important;
padding-left: 22px;
 width: 96%;
}
.node-type-participants .field-name-field-image-part img {
    height: 130px !important;
    max-height: none !important;
    max-width: none !important;
    width: 155px !important;
}
.node-type-participants .field-name-field-image-part {
  margin-right: 25px;
  margin-bottom: 28px;
}
.node-type-participants .field-name-field-short-text {
  padding-top: 43px;
}
.field-name-field-short-text .field-item {
  margin-bottom: 6px;
}
.node-participants .field-name-field-email {
  text-decoration: underline;
  color: #fc6704  ;
      margin-top: 31px;
}
.node-participants .node-title {
  font-size: 16px;
  letter-spacing: 2px;

}
.node-participants .field-name-body,
.node-participants .field-name-field-image-part {
  float: left;
}
.node-participants .field-name-body{
border-top: 1px dotted;
padding-top: 25px;
}

/* aside menu - view */
.view-participants.view-display-id-block_1 .views-row {
  border-bottom: 1px dotted;
  margin-right: 10px;
  padding: 5px 0;
   width: 110px;
}

.view-participants.view-display-id-block_1{
margin-top: 49px;
  
}
.view-participants.view-display-id-block_1 > div.view-content{
border-right: 1px dotted;
}
.view-participants.view-display-id-block_1 .active,
.view-participants.view-display-id-block_1 a:hover {
 background-color: #000000;
    color: #FFFFFF;
   
}
.view-participants.view-display-id-block_1 a{
 display:block;
  line-height: 20px;
}
.view-participants.view-display-id-block_1 .views-row {
  display: inline-block;
 /*  width: 100%; */
}


